<!-- ejs doesnt use concepts of layouts, where there will be one main file and other files can render it -->
<!-- so we use partials, ie some html files which can be used any where in other html files -->

<!-- to render html code from the file, we use "<%- " -->
<!-- if we will use "<%=" then it will render html code as text, instead of html code -->
<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
  
<%- include('./includes/navigation.ejs') %>
    <main>
      <!-- if condition -->
      <!-- as if is condtion, we are not ooutput any dynamic content, thus no "=" sign after "%" sign -->
      <!-- uses same vanialla js syntax, opening and closing braces -->
      <% if (prods.length > 0) { %>
        <div class="grid">
          <!-- for loop -->
          <% for (let product of prods) { %> 
            <article class="card product-item">
                <header class="card__header">
                  <!-- accces the product titile -->
                  <!-- here as we are assessing the title of product dynamicaly, we are using "=" sign after "%" sign -->
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">A very interesting book about so many even more interesting things!</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
          <% } %>
        </div>
      <% } else { %>
        <h1>No Products</h1>
      <% } %>
    </main>

<%- include('./includes/end.ejs') %>
